<%- include("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Benvenuto ad Apperitivo</h1>
			<p>Qui puoi ricercare i migliori locali per il tuo aperitivo!</p>
			<p>
				Sei un proprietario e vuoi aggiungere il tuo locale? 
				<a class="btn btn-primary btn-lg" href="/venues/new">Aggiungi Locale</a>
			</p>
		</div>
	</header>
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<div class="col-lg-12">
			<h3>I Locali più famosi</h3>
		</div>
		<% venue.forEach(function(venue){%>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%=venue["image"]%>">
				<div class="caption">
					<h4><%=venue["name"]%></h4>	
				</div>
				<p>
					<a href="/venues/<%= venue._id %>" class="btn btn-primary">Info</a>
				</p>
			</div>
		</div>
		<%});%>
	</div>
</div>

<%- include("../partials/footer") %>